.navbar {
  position: fixed;
  height: 60px;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.container-mensagem {
  display: flex;
}

.base-mensagem {
  height: 40px;
  width: 250px;
  padding: 8px;
  margin: 0px 0px 4px 0px;
  border-radius: 0px 6px 6px 6px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.btn-criar {
  height: 40px;
  width: 250px;
  padding: 8px;
  margin: 4px;
  background: rgb(81, 81, 211);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none !important;
  border: 0px solid;
  margin: auto;
}

.seta-mensagem {
  width: 0px;
  height: 0px;
  border: 13px solid;
  border-color: gray gray transparent transparent;
}

.input-text {
  height: 35px;
  width: 350px;
  padding: 8px;
  margin: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(128, 128, 128, 0.425);
}

.titulo
{
  margin: auto;
}